body {
  box-sizing: border-box;
  background-color: rgba(199, 199, 199, 0.664);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
input {
  outline: none;
  border: none;
  box-sizing: border-box;
}
img {
  border: 0;
  vertical-align: middle;
}
.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
 }
 .w {
   width: 1100px;
   margin: 0 auto;
 }
